/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #cc785c;
  --ifm-color-primary-dark: #c57054;
  --ifm-color-primary-darker: #c36f53;
  --ifm-color-primary-darkest: #b8674d;
  --ifm-color-primary-light: #d68266;
  --ifm-color-primary-lighter: #e38e72;
  --ifm-color-primary-lightest: #f19c80;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}
.navbar__title {
  font-weight: 400;
}
.navbar__item {
  font-size: 0.9rem;
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
}


/* 定义动画 */
@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.flex1 {
  flex: 1;
}

.item {
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  background-color: #f1f1f1;
  text-align: center;
  place-self: center center;
}

.story_card_body {
  .custom {
    display: none;
    flex: none;
  }
}

.screen {
  height: 100vh; /* 使容器的高度为视窗高度 */
  background-color: #f0f0f0;
}

.screen_content {
  height: calc(100vh - 100px); /* 高度等于视窗高度减去 100px */
  background-color: #d0d0d0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.dashboard_container {
  .arco-tabs-content {
    padding: 20px;
  }

  .title {
    font-size: 1.6rem;
    padding: 30px;
  }
}

.description_pair {
  display: flex;
  align-items: center;

  div {
    width: 100px;
    flex: none;
  }
}

.api_settings {
  .arco-modal-content {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.arco-modal-content {
  max-height: 70vh;
  overflow: scroll;
  max-width: unset;
}

p {
  user-select: text;
}

.text-gradient {
  background: linear-gradient(
    270deg,
    #4a90e2,
    #9b59b6,
    #0d6ad6,
    #a52ecc,
    #bd7501
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s ease infinite;
}
.text-gradient2 {
  background: linear-gradient(
    270deg,
    #e27f4a,
    #b69559,
    #f8a92d,
    #a5cc2e,
    #bd7501
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s ease infinite;
}

/* 定义动画 */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@layer components {
  .card {
    @apply m-10 rounded-lg bg-white px-6 py-9 shadow-xl ring-1 ring-slate-900/5 dark:bg-black;
  }
}
/* styles.css */
/* styles.css */
.text-outline {
  position: relative;
  display: inline-block;
  color: transparent; /* 文字颜色设为透明 */
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: gray; /* 描边颜色 */
  -webkit-background-clip: text;
  background-clip: text;
  font-size: inherit;
  font-weight: inherit;
  /* 描边效果 */
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}
/* styles.css */
/* styles.css */
@keyframes typing {
  from {
    width: 0; /* Start with width 0 */
  }
  to {
    width: 100%; /* End with full width */
  }
}

.typing-animation {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  width: 0; /* Start with width 0 */
  animation: typing 4s steps(4, end) infinite; /* Adjust 'steps' to match the number of characters */
  border-right: 2px solid gray; /* Optional: simulate a cursor */
  box-sizing: border-box;
  /* Optionally, you can limit the width to the width of 4 characters */
  max-width: 4ch; /* Ensure width does not exceed the space of 4 characters */
}

.hoverText {
  font-weight: 800;
  user-select: none;
  letter-spacing: 1px;
  line-height: 120px;
}


.hoverBlack {
  font-weight: 500;
  user-select: none;
  transition:
          0.35s font-weight,
          0.35s color;
}

.hoverBlack:hover {
  color: #0e0f21;

}

/* To the right */
.hoverBlack:hover + .hoverBlack {
  /*font-weight: 500;*/
  /*color: rgb(74, 74, 74);*/
}

.hoverBlack:hover + .hoverBlack + .hoverBlack {
  /*font-weight: 500;*/
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  /*font-weight: 500;*/
  /*color: rgb(74, 74, 74);*/
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  /*font-weight: 500;*/
}